@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);



html {
  scroll-behavior: smooth;
}
body{
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  margin: 0 auto;
}


#bg1{
  margin-top: 80px;
  width: 100vw;
  height: 600px;
  position: absolute;
  background: linear-gradient(to right, #bc4e9c, #f80759);
  z-index: -10;  
}


#bg4{
  margin-top: 1700px;
  width: 100vw;
  height: 750px;
  position: absolute;
  background: linear-gradient(to right, #bc4e9c, #f80759); 
  z-index: -10; 
}

#empty2{
  height: 150px;
}
#empty3{
  height: 10px;
}

#bg2{
  margin-top: 3068px;
  width: 100vw;
  height: 700px;
  position: absolute;
  background: linear-gradient(to right, #bc4e9c, #f80759); 
  z-index: -10; 

}

#bg3{
  margin-top: 4510px;
  width: 100vw;
  height: 200px;
  position: absolute;
  background: linear-gradient(to right, #bc4e9c, #f80759); 
  z-index: -10; 
}


#rowApp{
  width: 100vw;
  height: 600px;
  vertical-align: middle;
  margin-bottom: 200px;
}
#rowApp #melelApp{
  color:white;
text-align: center;
margin-left: 250px;
}
#rowApp #melelApp .divider{
background-color: white;
margin:0 auto;
margin-top: -10px;
display: block;
}

#rowApp p{
  text-align: center;
  font-size: 20px;
  height: 300px;
  width: 350px;
  color: white;
  margin: 0 auto;

}

#appLogo{
  height: 150px;
  width: 300px;
  margin: 0 auto;
  background-image: url("../images/logoApp.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 100px;
}

#divider3{
  width: 100px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#phone1,#phone2,#phone3,#phone4{
  margin-top: -48px;
  margin-left: -70px;
  height: 620px;
  width:620px;
  background-image: url("../images/mac2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -10;
  position: absolute;
}


#phone1{  background-image: url("../images/phone2.png");
  margin-left: -360px; margin-top: -650px;   z-index: -9;
}

#phone2{  background-image: url("../images/phone3.png");
  margin-left: 400px; margin-top: -510px; z-index: -9;
}
#phone3{  background-image: url("../images/phone1.png");
  margin-left: -500px; margin-top: -650px;

}
/* #phone4{  background-image: url("../images/phone3.png");
  margin-left: 540px; margin-top: -600px;

} */

header{
 height: 0px;
}

#container{
  margin: 0 auto;
  width: 960px;
}
#main-nav{
z-index: 999;
height: 40px;
width: 250px;
margin-left:-20px;
margin-top: 20px;
background: linear-gradient(to right, #bc4e9c, #f80759); 
border-radius: 20px;
position: fixed;
-webkit-box-shadow: 0px 5px 5px -7px #000000;
box-shadow: 0px 5px 5px -7px #000000;
}
#main-nav li { 
  display: inline;
  color: white;
  
}


#main-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px;
  transition: 0.2s all ease;
 
}

#main-nav a:hover{
  color: rgb(211, 211, 211);
  opacity: 0.999;
  border-bottom: 1px solid white;

}

ul{
  list-style: none;
}

#empty{
  height: 30px;
}
.divider{
  width: 50px;
  height: 5px;
  margin-top:10px;
  margin-bottom:10px;
  background-color:black;
  margin-left: 47.5%;
}

#section1{
  margin-top: 90px;
  padding-top: 1px;
  color:white;
  height: 600px;
  text-align: center; 
}

#section1 .divider{
  background-color: white;
}

.col .divider{
  margin-left: 45%
}

.row p{
  font-weight: bolder;
  padding-top: 5px;
  font-size: 30px;
  padding-bottom: -15px;
}
#small{
bottom: -20px;
  font-size: 15px;
  color:#f80759
}

#tochen{
  font-size: 16px;
}

.down-arrow {
  margin: 40px auto 135px auto;
  height: 80px;
  width: 80px;
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: float 1s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
  animation: float 1s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

#logo{
  height: 45px;
  width: 45px;
margin: 0 auto;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;

}


p{
  font-size: 1.2rem;
}

#section3 p{
  font-size: 1.2rem;

}

input[type ='button']{
  height: 45px;
  width: 20%;
  font-size: 26px;
  font-weight: 200;
  text-align: center;
  background-color:rgba(255, 255, 255, 0);
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s all ease;
  transition-delay: 0.08s;
}

input[type ='button']:hover{
  color: #f80759;
  background-color:white;
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 5px 7px 20px -7px #000000;
  box-shadow: 5px 7px 20px -7px #000000;
}




h1{
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 10px;
  }

h2{
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

h3{
  font-size: 2.5rem;

}
#section2{
padding-top: 25px;
height: 2200px;
width: 100%;
margin-bottom: 100px;
}

#section2 .melel:nth-child(1){
  margin-top: -20px;
  margin-bottom: 50px;
}

.misgeret{
  margin-top: 15px;
}

#section2 h3{
  margin-bottom: 20px;
}

#row1{
  height: 650px;
  vertical-align: middle;
  margin-bottom: 50px;
}

#row1 .col{
  height: 650px;
  width: 300px;
  vertical-align: middle;
}

#row2{
margin-top: 150px;
height: 300px;
}

#melelcol{
  margin-top: -100px
}
#melelcol .divider{
margin-left: 47.5%;}


#mac{
  margin-top: -28px;
  margin-left: 175px;
  height: 620px;
  width:620px;
  background-image: url("../images/mac2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -10;
  position: absolute;
} 


.carousela{
  margin-top: 20px;
  margin-left: 245px;
  height: 300px;
  width: 480px;
  border: 1px siold black;
  border-radius: 20px;
  z-index:-10;
  
}

#prev{
  height: 40px;
  width:40px;
  background-image: url("../images/left.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#next{
  height: 40px;
  width:40px;
  background-image: url("../images/right.png");
  background-size: contain;
  background-repeat: no-repeat;
}


.melel{
  margin-top: 10%;
}

#melel2{
  padding-top: 80px;
}

#logo-1{
  background-image: url("../images/logo-1.png");
  height: 230px;
  width: 230px;
  margin-left: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 25%;
}
#logo-2{
  background-image: url("../images/logo-2.png");
  height: 230px;
  width: 400px;
  margin-left: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 11%;

}
#logo-3{
  background-image: url("../images/logo-3.png");
  height: 230px;
  width: 230px;
  margin-left: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 25%;

}
#logo-4{
  background-image: url("../images/logo-4.png");
  height: 230px;
  width: 230px;
  margin-left: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 25%;
}

#logo-5{
  background-image: url("../images/logo-5.png");
  height: 230px;
  width: 230px;
  margin-left: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 25%;
}
#logo-6{
  background-image: url("../images/logo-6.png");
  height: 230px;
  width: 230px;
  margin-left: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 25%;
}


#webs{
margin-bottom: 10px;
  height: 420px;
  width: 300px;
padding: 5px;
  border: 1px soild black;
  border-radius: 15px;
  transition: 0.2s all ease;
  transition-delay: 0.08s;
	transition: transform 400ms ease-out;
  -webkit-box-shadow: 5px 7px 20px -7px #000000;
  box-shadow: 5px 7px 20px -7px #000000;
}

#webs:hover{
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 5px 7px 20px -7px #000000;
  box-shadow: 5px 7px 20px -7px #000000;
  transform: scale(1.03);
}

#dividers{
  height: 2px;
  width: 200px;
  margin-left: 40%;
  background: radial-gradient( #bc4e9c, #f8075700); 
}


.landing{
  background-size: 102%;
  background-repeat: no-repeat;
  background-image: url("../images/leanding-page.png");
}

.house{
  background-size: 105%;
  background-repeat: no-repeat;
  background-image: url("../images/house.png");
}

.profile{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/profile-web.png");
}

#section3{
  margin: 0 auto;
  height: 600px;
  width: 100%;
  color: white
}

#section3 .divider{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
}

#section3 span{
  font-size: 1.5rem;
}

#section3 .col .bg{
  margin: 0 auto;
  padding: 20px;
  height: 160px;
  width: 160px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 50%;

}
#css{
  margin-top: 10px;
  height: 120px;
  width: 120px;
  background-image: url("../images/css3.png");
  background-size: cover;
background-repeat: no-repeat;
}
#HTML5{
  margin-top: 10px;
  height: 120px;
  width: 120px;
  background-image: url("../images/html5.png");
  background-size: cover;
background-repeat: no-repeat;
}
#JavaScript{
  height: 120px;
  width: 120px;
  background-image: url("../images/javascript.png");
  background-size: cover;
background-repeat: no-repeat;
}

#Illustrator{
  height: 120px;
  width: 120px;
  background-image: url("../images/illustrator.png");
  background-size: cover;
background-repeat: no-repeat;
}
#PhotoShop{
  height: 120px;
  width: 120px;
  background-image: url("../images/photoshop.png");
  background-size: cover;
background-repeat: no-repeat;
}
#Sketch{
  margin-top: 10px;
  height: 120px;
  width: 120px;
  background-image: url("../images/sketch.png");
  background-size: cover;
background-repeat: no-repeat;
}


  #empty1{
    height: 40px;
  }


  #section3 p{
    margin-top: 60px;
    
  }


#section4{
    height: 600px;
    margin-top: 100px;
    
    }
    
    #section4 h3{
      margin-bottom: 40px;
      }

      /* #envelope{
        margin-top: -55px;
        margin-left: 770px;
        width: 150px;
        height: 150px;
        background-image: url("../images/envelope.png");
        background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      z-index: -10;
      border-radius: 20px;
      } */

   form{
    margin-left:33%;
   } 


label {
  font-size: 1.5rem;
  display:block;
  width: 50%;
  margin-right: 25%;
  margin-bottom: 15px;
  color:black;
  
}
#textarea{
  display:block;
 width: 100%;
 margin: auto 0 ;
 margin-bottom: 20px;
 font-size: 25px;
 font-weight: 400;
 margin-top: 10px;
 border: 2px solid rgb(0, 0, 0);
border-radius: 20px; 
}

input[type ='text'] ,input[type ='email'],textarea{

 display:block;
 width: 100%;
 margin: auto 0 ;
 margin-bottom: 20px;
 font-size: 25px;
 font-weight: 400;
 margin-top: 10px;
 border: 2px solid rgb(0, 0, 0);
border-radius: 20px;

}


 input[type ='submit']{
    height: 40px;
    width:30%;
    font-size: 26px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    background: linear-gradient(to right, #bc4e9c, #f80759); 
    color:white;
    border: 0.1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: 0.2s all ease;
    transition-delay: 0.08s;
    margin-left:-50%;
} 
/* 
#b1{
  margin:0 auto;
  width: 120px;
  font-size: 1.2rem;
  height: 30px;
} */

input[type ='submit']:hover{
  
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 5px 7px 20px -7px #000000;
  box-shadow: 5px 7px 20px -7px #000000;

} 


    footer{
      height: 100px;
      color:white;
      margin-top: 80px;
    }
   /* social media */

 #social-icons {
  margin-bottom: 15px;
    list-style-type: none;
    color: white;
    margin-right: 3.5%;

  }
  #social-icons li {
    display: inline;
  }
  #social-icons a {
    color:white;
    text-decoration: none;
    font-size: 2rem;
    transition: 4s;
  }
  
  .fa-facebook {
    transition: .4s;
    color: white;
    }
  .fa-facebook:hover {
    opacity: .7;
  }
  .fa-instagram {
    transition: .4s;
    color: white;
    }
  .fa-instagram:hover {
    opacity: .7;  }

  .fa-linkedin {
    transition: .4s;
    color: white;
  }
  .fa-linkedin:hover {
    opacity: .7;  
  }
  .social-icon {
      padding: 7px;
  }

.fa-chevron-circle-up{
  font-size: 4rem;
  color: white;
  border: 2px soild black;
  margin-left: 35%;
  margin-top: 5px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: 0.2s all ease;
  transition-delay: 0.08s;

}

.fa-arrow-circle-up:hover{
-moz-transform: translateY(-5px);
-webkit-transform: translateY(-5px);
-o-transform: translateY(-5px);
-ms-transform: translateY(-5px);
transform: translateY(-5px);

}


@keyframes float { /*flaoting animation*/
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 0.6;
  }
  50% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
            opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 0.6;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 0.6;
  }
  50% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
            opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 0.6;
  }
}
@keyframes slideInFromBottom { /*Slide from bottom animation*/
  0% {
    transform: translateY(35%);
    opacity: 0;
  }
  75% {
    transform: translateY(-3%);
  }
  100% {
      transform: translateY(0);
      opacity: 1;
    }
}  

#credit{
  margin-top: 15px;
  opacity: 0.8;
}


@media only screen and (max-width: 750px) {
#empty2{
  height:0px;
}

#row1 .col{
  height: 650px;
  width: 200px;
  margin-left: 10px;
}
  body #mac {
    height: 530px;
    width: 530px;
    margin-left: 230px;
    margin-top: 55px
  }

  body .carousela{
    margin-top: 87px;
    margin-left: 285px;
    height: 270px;
    width: 410px;

  }
  body #rowApp{
    height:600px;
    width: 100%;
    margin-left: 1px;
  }

  #melelApp{
    margin-top: 20px;
  }

 #melelcol{
margin-top:0px;
margin-left: 3%;
 }
 #melelcol .divider{
margin-left: 47.5%;   }
  #logo-2{
margin-left: 5%;
  }

#sections2{
  height: 650px;
}

  body #section1,#sections2,#sections3,footer{  
    width: 102.5%;
    background: linear-gradient(to right, #bc4e9c, #f80759); 
  }
  
 body #section3{
    margin: 0 auto;
    height: 600px;
    width: 80%;
    color: white
  }
 
  body #section2{
    height: 2100px;
margin-bottom: 100px;
  }


  body #row2 .col{
height: 200px;
margin-bottom: 300px;
  }

#credit{
  display: none;
}
body #logo{
display: none;}

  #bg1{ display: none;
  } 
  #bg2{ display: none;
  } 
  #bg3{ display: none;
  } 
  #bg4{ display: none;
  }

  #phone1,#phone2,#phone3{
    height: 400px;
    width:400px;
  }

  #phone1{  background-image: url("../images/phone2.png");
    margin-left: -200px; margin-top: -600px;  z-index: 999;
  }
  
  #phone2{  background-image: url("../images/phone3.png");
    margin-left: 320px; margin-top: -530px; z-index:999;
  }
  #phone3{  background-image: url("../images/phone1.png");
    margin-left: -280px; margin-top: -600px; z-index: 998;
  }

}
